.sobre-mim .informacoes-mim {
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-normal);
    width: 45%;
    max-height: 300px;
    border-radius: 10px;
    margin: 0 30px;
    padding: 0 20px;
}

.sobre-mim .titulo-apresentacao {
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-extra-grande);
    font-weight: 900;
    padding-bottom: 10px;
}

@media(max-width: 1280px) {
    .sobre-mim .informacoes-mim {
        width: 46%;
        min-height: 350px;
        font-size: var(--fonte-normal);
        font-family: var(--fonte-primaria);
        padding: 10px;
        margin: 15px;
    }
}

@media(max-width: 835px) {
    .sobre-mim .informacoes-mim {
        width: 100%;
        min-height: auto;
        font-size: var(--fonte-normal);
        font-family: var(--fonte-primaria);
        margin: 10px;
    }

    .sobre-mim .informacoes-mim .titulo-apresentacao {
        font-family: var(--fonte-primaria);
        font-size: var(--fonte-grande);
        font-weight: 700;
        margin-bottom: 10px;
    }
}

@media(max-width: 415px) {
    .sobre-mim .informacoes-mim {
        font-size: var(--fonte-pequena);
        font-family: var(--fonte-primaria);
        width: 390px;
        max-height: 280px;
        margin: 10px;
        background-color: white;
        color: black;
    }

    .sobre-mim .informacoes-mim .titulo-apresentacao {
        font-family: var(--fonte-primaria);
        font-size: var(--fonte-media);
        font-weight: 700;
        margin-bottom: 5px;
    }
}