.main {
    padding: 40px;
}

.main .container {
    letter-spacing: 2px;
    width: 100%;
    padding: 20px;
    border: 2px solid var(--cor-preta);
    border-radius: 30px;
}

.container .titulo-principal {
    padding: 70px 0;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-gigante);
}

.container .informacao {
    padding: 30px 0;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-grande);
}

.container .titulo-dos-termos {
    padding: 25px 0;
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-grande);
}

.main .container p,
.listagem li{
    padding: 10px 0;
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-normal);
}

.main .container .link-adv{
    color: var(--cor-preta);
    text-transform: capitalize;
    font-size: var(--fonte-normal);
    font-weight: 500;
    padding: 5px 0;
    transition: 0.2s;
    border-radius: 50px;
    letter-spacing: 2px;
    user-select: none;
}

.main .container a:hover {
    background-color: var(--cor-branca);
}

@media(max-width: 835px) {
    .main {
        padding: 20px;
        letter-spacing: 1px;
    }

    .container .titulo-principal {
        padding: 20px 0;
        font-size: var(--fonte-media);
    }

    .container .informacao {
        padding: 10px 0;
        font-size: var(--fonte-normal);
    }

    .container .titulo-dos-termos {
        padding: 5px 0;
        font-size: var(--fonte-normal);
    }

    .main .container p,
    .listagem li {
        padding: 5px 0;
        font-size: var(--fonte-pequena);
    }

    .main .container .link-adv {
        font-size: var(--fonte-pequena);
        padding: 2px 0;
    }
}

@media(max-width: 415px) {
    .main {
        padding: 15px;
        letter-spacing: 1px;
    }

    .container .titulo-principal {
        padding: 20px 0;
        font-size: var(--fonte-media);
    }

    .container .informacao {
        padding: 10px 0;
        font-size: var(--fonte-normal);
    }

    .container .titulo-dos-termos {
        padding: 5px 0;
        font-size: var(--fonte-normal);
    }

    .main .container p,
    .listagem li {
        padding: 5px 0;
        font-size: var(--fonte-pequena);
    }

    .main .container .link-adv {
        font-size: var(--fonte-pequena);
        padding: 1px 0;
    }
}

@media(max-width: 365px) {
    .main {
        padding: 10px;
        letter-spacing: 1px;
    }

    .container .titulo-principal {
        padding: 20px 0;
        font-size: var(--fonte-media);
    }

    .container .informacao {
        padding: 10px 0;
        font-size: var(--fonte-normal);
    }

    .container .titulo-dos-termos {
        padding: 5px 0;
        font-size: var(--fonte-normal);
    }

    .main .container p,
    .listagem li {
        padding: 5px 0;
        font-size: var(--fonte-pequena);
    }

    .main .container .link-adv {
        font-size: var(--fonte-pequena);
        padding: 1px 0;
    }
}